<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cardiovascular Health Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='medical.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Cardiovascular Health Prediction</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Cardiovascular Prediction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hdb_resale">HDB Resale Prediction</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <h1>Cardiovascular Health Prediction</h1>
    <div class="flex-container">
        <div class="form-container">
            <form method="post" action="/predict">
                <label for="age">Age:</label>
                <input type="number" name="age" required><br>

                <label for="gender">Gender:</label>
                <select name="gender" required>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select><br>

                <label for="chest_pain">Chest Pain Type:</label>
                <select name="chest_pain" required>
                    <option value="TA">Typical Angina</option>
                    <option value="ATA">Atypical Angina</option>
                    <option value="NAP">Non-Anginal Pain</option>
                    <option value="ASY">Asymptomatic</option>
                </select><br>

                <label for="resting_BP">Resting Blood Pressure (mmHg):</label>
                <input type="number" name="resting_BP" required><br>

                <label for="cholesterol">Cholesterol (mg/dL):</label>
                <input type="number" name="cholesterol" required><br>

                <label for="fasting_BS">Fasting Blood Sugar (mg/dL):</label>
                <input type="number" name="fasting_BS" required><br>

                <label for="resting_ECG">Resting ECG Results:</label>
                <select name="resting_ECG" required>
                    <option value="Normal">Normal</option>
                    <option value="ST">ST-T wave abnormality</option>
                    <option value="LVH">Left ventricular hypertrophy</option>
                </select><br>

                <label for="max_HR">Maximum Heart Rate:</label>
                <input type="number" name="max_HR" required><br>

                <label for="exercise_angina">Exercise-induced Angina:</label>
                <select name="exercise_angina" required>
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select><br>

                <label for="old_peak">Oldpeak (ST depression):</label>
                <input type="number" name="old_peak" required><br>

                <label for="ST_slope">ST Slope:</label>
                <select name="ST_slope" required>
                    <option value="Up">Upsloping</option>
                    <option value="Flat">Flat</option>
                    <option value="Down">Downsloping</option>
                </select><br>

                <button type="submit">Predict</button>
            </form>
        </div>

        <div class="results-container" style="background-color: white;">
            <h2>Prediction Result:</h2>
            <p>{{ prediction_result }}</p>
            <h2>Prediction Score:</h2>
            <p>{{ prediction_score }}</p>
    </div>
</body>
</html>
